[Unit]
Description=Launch Flirc-Denon-HMI
After=getty.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/screen -S FlircDenonHMI /usr/local/bin/flirc-denon-hmi
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
