[Unit]
Description=Launch mpd-remote service on TTY1
After=getty.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/screen -S mpd-remote /bin/bash -c "/usr/local/bin/mpd-remote listen | tee /tmp/mpd-remote.log"
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target
